version: '3.8'
services:
  db_test:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: gtd_user
      POSTGRES_PASSWORD: gtd_password
      POSTGRES_DB: gtd_db_test
    ports:
      - '5434:5432'
    volumes:
      - postgres_test_data:/var/lib/postgresql/data

volumes:
  postgres_test_data:
