version: '3.8'
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: gtd_user
      POSTGRES_PASSWORD: gtd_password
      POSTGRES_DB: gtd_db
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - '6380:6379'

volumes:
  postgres_data:
